<main class="aboutUstSection">
  <div class="aboutUstSection_container">
    <div class="aboutUstSection_image">
      <img src="/public/images/logo.jpeg" alt="" />
    </div>
    <div class="aboutUstSection_body">
      <h2 class="aboutUstSection_title">About Almanhl</h2>
      <div class="aboutUstSection_content">
        <p>
          Cryptocash is one of the most transformative technologies since the
          invention of the Internet. Cryptocash stands firmly in support of
          financial freedom and the liberty that Bitcoin provides globally for
          anyone to voluntarily participate in a permissionless and
          decentralized network.
        </p>
        <p>
          which empowers people to not be marginalized by governments and
          financial institutions. There are many variations of passages of Lorem
          Ipsum available, but the majority have suffered alteration in some
          form, by injected humour, or randomised words which don't look even
          slightly believable.
        </p>
        <p>
          If you are going to use a passage of Lorem Ipsum, you need to be sure
          there isn't anything embarrassing hidden in the middle of text.
        </p>
      </div>
    </div>
  </div>
</main>

<style>
  .aboutUstSection {
    text-align: center;
    margin: 10% 0;
  }
  .aboutUstSection_container {
    background-color: var(--fushina);
    margin: 4rem;
    height: 40rem;
    border-radius: 5rem;
    background-image: linear-gradient(
      to right,
      white 45%,
      var(--fushina) 45%,
      var(--jewel) 90%
    );
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 4rem 0;
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
  }
  .aboutUstSection .aboutUstSection_image {
    width: 45%;
  }
  .aboutUstSection_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .aboutUstSection .aboutUstSection_body {
    width: 55%;
    padding: 0 2rem;
    text-align: left;
    color: var(--stark) !important;
  }
  .aboutUstSection .aboutUstSection_title {
    font-weight: bolder;
    font-size: 2rem;
  }
  .aboutUstSection .aboutUstSection_content {
    font-weight: 300;
    font-size: 1.3rem;
    margin: auto;
  }

</style>
