---
import ContactCard from "./ContactCard.astro";
import ContactForm from "./ContactForm.astro";
---

<main class="contactUs">
  <h2 class="contactUs_title">Contact With Us</h2>
  <span class="contactUs_content">
    For more information contact almanhl team
  </span>
  <div class="contactUs_cards">
    <ContactCard
      icon="geo-alt"
      title="OUR ADDRESS"
      content="4 Montgomery, NY 12549"
      card_nav="VIEW MAP"
    />
    <ContactCard
      icon="telephone"
      title="OUR PHONE"
      content="+23 0123 4567"
      card_nav="CALL NOW"
    />
    <ContactCard
      icon="envelope"
      title="EMAIL-ID"
      content="Yourmail@gmail.com"
      card_nav="SEND A MESSAGE"
    />
  </div>
  <ContactForm/>
</main>

<style>
  .contactUs {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 5% 0;
  }
  .contactUs .contactUs_title {
    color: var(--jewel) !important;
    font-weight: bolder;
    font-size: 2rem;
  }
  .contactUs .contactUs_content {
    color: var(--void) !important;
    font-weight: 300;
    font-size: 1.5rem;
    opacity: 0.6;
  }

  .contactUs .contactUs_cards {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
</style>
