
<div class="navCard">
    <div class="navCard_img">
        <div class="img"></div>
        <!-- img -->
    </div>
    <div class="navCard_content">
        <span class="navCard_title">
            tilte tilte tilte
        </span>
        <span class="navCard_body">
            text text text 
        </span>
    </div>
</div>

<style>
.navCard{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;

}
.img{
    background-color: var(--fushina);
    width: 4rem;
    height: 4rem;

}
span{
    display: block;
}
.navCard_title{
    font-size: 1.5rem;
    margin-bottom: 8px;
}

</style>